services:
  solarvillage:
    build: ./
    command: ["sh", "-c", "python3 manage.py migrate && gunicorn solarvillage.wsgi:application --bind 0.0.0.0:80"]
    environment:
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_HOST=postgres
      - DB_NAME=postgres
    ports:
      - 80:80
    depends_on:
      postgres:
        condition: service_healthy
  postgres:
    image: postgis/postgis:latest
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql
    healthcheck:
      # The `-h localhost` is a MUST, else we'll pass the health test during initialisation
      test: pg_isready -h localhost -U $$POSTGRES_USER
      interval: 5s
      timeout: 10s
  pgadmin:
    image: dpage/pgadmin4:latest
    restart: always
    environment:
      - PGADMIN_DEFAULT_EMAIL=postgres@postgres.com
      - PGADMIN_DEFAULT_PASSWORD=postgres
    ports:
      - 8081:80
    volumes:
      - ./servers.json:/pgadmin4/servers.json

volumes:
  pgdata:
